.gsm-viz--example #controls,
.gsm-viz--example #bites-controls {
    display: flex;
    justify-content: center;
}
.gsm-viz--example fieldset {
    display: flex;
    justify-content: center;
}
.gsm-viz--example #container,
.gsm-viz--example #kri-container,
.gsm-viz--example #bites-container {
    margin: auto;
    width: 100%;
    height: 40vw;
}
